backend/orchestration/state_machine.asl.json
{
    "Comment": "Truth Engine (PVE) Orchestration: Fan-Out Execution",
    "StartAt": "GenerateFixes",
    "States": {
        "GenerateFixes": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:pve-controller",
            "Parameters": {
                "code.$": "$.code",
                "error.$": "$.error"
            },
            "ResultPath": "$.brain_output",
            "Next": "FanOutSandbox",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "FailState"
                }
            ]
        },
        "FanOutSandbox": {
            "Type": "Map",
            "InputPath": "$.brain_output.data",
            "ItemsPath": "$.candidates",
            "ResultPath": "$.verification_results",
            "MaxConcurrency": 3,
            "Iterator": {
                "StartAt": "RunSandbox",
                "States": {
                    "RunSandbox": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:us-east-1:123456789012:function:pve-sandbox",
                        "Parameters": {
                            "candidate_code.$": "$",
                            "test_code.$": "$.reproduction_script"
                        },
                        "End": true
                    }
                }
            },
            "Next": "AggregateResults"
        },
        "AggregateResults": {
            "Type": "Pass",
            "Parameters": {
                "status": "completed",
                "original_request.$": "$",
                "results.$": "$.verification_results"
            },
            "End": true
        },
        "FailState": {
            "Type": "Fail",
            "Cause": "AI Generation Failed",
            "Error": "GenerativeAIError"
        }
    }
}